@font-face {
  font-family: "AkzidenzGroteskPro-Bold";
  src: local("AkzidenzGroteskPro-Bold"),
    url("./fonts/AkzidenzGroteskPro-MdCn.woff2") format("woff2"),
    url("./fonts/AkzidenzGroteskPro-MdCn.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTMonoRegular";
  src: url("./fonts/PT-Mono_Regular.woff2") format("woff2"),
    url("./fonts/PT-Mono_Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "PTMonoBold";
  src: url("./fonts/PT-Mono_Bold.woff2") format("woff2"),
    url("./fonts/PT-Mono_Bold.woff") format("woff");
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  color: #fff;
  background: #121212;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: "PTMonoRegular";
  text-transform: uppercase;
}
body p {
  letter-spacing: 0.03em;
}
.wrapper {
  width: 1080px;
  margin: 0 auto;
}
.container {
  padding-top: 24px;
  margin: 0 32px;
}

/*----Global Styles Start-------*/
.flex {
  display: flex;
  align-items: flex-start;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.back {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "PTMonoRegular";
}
.back span {
  margin-left: 17px;
}
.map-btn {
  padding: 7px 12px;
  background: white;
  color: black;
  font-size: 16px;
  line-height: 18px;
  font-family: "PTMonoBold";
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.left-line {
  position: relative;
}
.left-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -17px;
  width: 1px;
  height: 100%;
  background: #58585d;
}
.subtitle {
  font-family: "AkzidenzGroteskPro-Bold";
  font-weight: 500;
  font-size: 72px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
.title-3 {
  font-family: "AkzidenzGroteskPro-Bold";
  font-weight: 500;
  font-size: 42px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.width-text {
  width: 387px;
  margin-right: 32px;
  flex-shrink: 0;
}

.default_swiper {
  width: 100%;
  height: 528px;
}
/*----Global Styles End-------*/

/*----Modal Styles Start-------*/

.modal-bg {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
}
.modal-map-container {
  box-sizing: border-box;
  width: 1040px;
  background: #2e2e2e;
  position: relative;
  padding: 36px 32px 36px 55px;
  display: flex;
  flex-direction: column;
}
.modal {
  height: 669px;
  position: relative;
}
.modal h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
}
.modal__block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close {
  position: absolute;
  content: "";
  top: -56px;
  right: 0;
  width: 48px;
  height: 48px;
  background: #2e2e2e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 100;
}
.active {
  display: flex !important;
}
.lock {
  overflow: hidden;
}

/*----Modal Styles End-------*/

/*----Screen 1 Start-------*/

.header {
  background-image: url(./img/main-bg-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 759px;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 648px;
}
.header__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  font-family: "AkzidenzGroteskPro-Bold";
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.header__title {
  width: 50%;
  font-weight: 500;
  font-size: 120.494px;
  line-height: 110px;
  font-family: "AkzidenzGroteskPro-Bold";
  text-transform: uppercase;
}
.bloks {
  padding-bottom: 32px;
}
.block__container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.block {
  height: 354px;
  width: 492px;
  background: #0b70e6;
  padding: 23px 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block:first-child {
  width: 100%;
}
.block__title {
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  width: 50%;
}
.arrow-icon {
  position: relative;
}
.arrow-icon::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(img/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/*----Screen 1 End-------*/

/*----Screen 2 Start-------*/

.competence {
  display: flex;
  margin-top: 79px;
  margin-bottom: 91px;
}
.technicians {
  margin-top: 100px;
  margin-bottom: 87px;
}
.techn-title {
  margin-bottom: 29px;
}
.techn-width {
  width: 80%;
}
.techn_slide {
  width: 387px !important;
  height: 528px;
  position: relative;
}
.techn_slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.techn_slide div {
  max-height: 137px;
  height: 100%;
  width: 100%;
  background: #f05936;
  font-size: 32px;
  line-height: 100%;
  color: #000000;
  font-family: "PTMonoRegular";
  padding: 13px 22px;
}
.techn_slide:first-child {
  margin-left: 32px;
}

.skills {
  margin-top: 132px;
}
.skill__container {
  margin-top: 92px;
}
.skill {
  display: flex;
  background: rgba(255, 255, 255, 0.12);
  margin-bottom: 20px;
}
.skill__text-container {
  padding: 16px 31px;
  display: flex;
}
.skill__title {
  width: 208px;
  font-size: 16px;
  line-height: 26px;
  font-family: "PTMonoBold";
}
.skill__desc {
  width: 60%;
}
.padding-bottom {
  padding-bottom: 99px;
}
/*----Screen 2 End-------*/

/*----Screen 3 Start-------*/

.task {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 80px;
}
.tasks {
  padding-bottom: 90px;
}
.task__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}
.task__item-number {
  font-size: 248px;
  line-height: 100%;
  font-family: "PTMonoBold";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.35398px #fff;
}
.task__item-block {
  flex-basis: 650px;
}
.task__item-title {
  margin-bottom: 30px;
}
.task__item-text {
  height: 368px;
  margin-left: 32px;
}
/*----Screen 3 End-------*/

/*----Screen 4 Start-------*/

.cities {
  padding-bottom: 100px;
}
.city {
  background: rgba(255, 255, 255, 0.12);
  margin-bottom: 20px;
}
.city__item {
  height: 136px;
  display: flex;
  position: relative;
  cursor: pointer;
}
.city__item::after {
  content: "+";
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 24px;
  width: 24px;
  color: white;
}
.city__item-title {
  margin: 16px;
  border-left: 1px solid #58585d;
  padding-left: 16px;
}
.city__item.active::after {
  content: "-";
}
.city__contestants {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.contestant {
  display: flex;
  align-items: center;
  border-top: 1px solid #58585d;
}
.contestant__avatar {
  width: 178px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contestant__name {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-family: "PTMonoBold";
  padding-left: 32px;
}

.modal-contestants {
  display: none;
}
.modal-contestant-container {
  width: 996px !important;
  background: #2e2e2e;
  position: relative;
  padding: 40px 40px 40px 55px;
}
.contestant__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
  border-bottom: 1px solid #58585d;
  margin-bottom: 50px;
}
.contestant__info-title {
  margin-bottom: 12px;
}
.contestant__info-city {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 24px;
}
.contestant__info-age {
  margin-bottom: 8px;
}
.contestant__block {
  margin-bottom: 50px;
}
.contestant__block-title {
  font-family: "PTMonoBold";
  padding-bottom: 14px;
  border-bottom: 1px solid #58585d;
}
.champion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #58585d;
  padding: 16px 0;
  letter-spacing: 0.03em;
}
.champion__top {
  width: 68px;
  height: 24px;
  background: #308bf4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contestants-swiper {
  width: 100%;
  overflow: visible !important;
}
.close-right {
  right: 52px;
}

/*----Screen 4 End-------*/

/*----Screen 5 Start-------*/

.timetable {
  margin-top: 80px;
  padding-bottom: 100px;
}
.timetable__slide {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}
.table {
  background: #2e2e2e;
  margin-bottom: 30px;
}
.table__row {
  display: flex;
  align-items: center;
}
.table__row:first-child {
  border-bottom: 1px solid #58585d;
}
.table__item {
  width: 209px;
  height: 68px;
  padding: 0 16px;
  font-family: "PTMonoBold";
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
}
.table__item::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  width: 1px;
  height: 36px;
  background: #58585d;
}
.table__desc {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: "PTMonoRegular";
}
.table__item:last-child:before {
  display: none;
}
.modules {
  display: flex;
  align-items: start;
  margin-bottom: 114px;
}
.module {
  width: 240px;
  display: flex;
  align-items: start;
  margin-right: 57px;
  color: rgba(255, 255, 255, 0.5);
}
.module__item {
  padding: 9px;
  margin-right: 16px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  border: 1px solid #58585d;
  border-radius: 50%;
}
.module__desc {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.places {
  margin-top: 70px;
}
.place {
  height: 68px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.12);
  margin-bottom: 20px;
}
.place:nth-child(2) .place__number {
  background: #0605ff;
}
.place:nth-child(3) .place__number {
  background: #e541f7;
}
.place:nth-child(4) .place__number {
  background: #0ab77f;
}
.place__number {
  background: #f05936;
  height: 100%;
  width: 181px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
}
.place__city {
  width: 400px;
  height: 36px;
  display: flex;
  align-items: center;
}
.place__city p {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-family: "PTMonoBold";
}
.place__city img {
  height: 36px;
  width: 36px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
}

.timetable-pagination {
  padding-top: 70px;
  position: relative !important;
  display: flex;
}

.timetable__bullet {
  width: 92px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  margin-right: 20px;
}

.timetable__bullet_active {
  color: #fff;
  background: #308bf4;
}
/*----Screen 5 End-------*/

/*----Screen 6 Start-------*/

.partners {
  margin-top: 80px;
}
.partners__container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partner {
  background: #2e2e2e;
  padding: 35px 40px;
  width: 492px;
  height: 196px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.partner__title {
  margin-bottom: 27px;
}
.partner p {
  letter-spacing: 0.03em;
}
.partner-qr {
  margin-top: 8px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.partner-big {
  width: 100%;
  height: 336px;
}
.partner-big-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.partner-big__title {
  font-size: 96px;
  line-height: 80px;
  margin-bottom: 12px;
}
.partner-big__desc {
  line-height: 140%;
}
.modal-qr {
  display: none;
}
/*----Screen 6 End-------*/

/*----lyceum Screen 1 Start-------*/
.lyceum__news {
  padding-top: 32px;
  margin-bottom: 93px;
}

.lyceum_swiper {
  height: 568px;
}
.lyceum_slide {
  width: 405px !important;
  height: 568px;
  background: #2e2e2e;
  position: relative;
  padding: 17px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lyceum_slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.lyceum_slide div p {
  font-weight: 500;
  font-size: 26px;
  line-height: 137%;
}
.lyceum_slide:first-child {
  margin-left: 32px;
}
.lyceum_pagination-container {
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.lyceum_pagination {
  position: relative !important;
  display: flex;
  bottom: 0 !important;
}

.lyceum__bullet {
  height: 40px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  margin-right: 12px;
}

.lyceum__bullet_active {
  color: #fff;
  background: #308bf4;
}

/*----lyceum Screen 1 tab 1 Start-------*/
.font_inter {
  font-family: "Inter", sans-serif;
  text-transform: none;
}

.lyceum__button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  padding: 11px 16px;
  color: white;
  font-size: 18px;
  line-height: 100%;
}
.classes {
  background: #202020;
  margin-bottom: 20px;
}
.classes:nth-child(2) .classes__name {
  background: #0605ff;
}
.classes:nth-child(3) .classes__name {
  background: #e541f7;
}
.classes:nth-child(4) .classes__name {
  background: #0ab77f;
}
.classes__item {
  height: 108px;
  display: flex;
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.12);
}
.classes__item::after {
  content: "+";
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  height: 24px;
  width: 24px;
  color: white;
}
.classes__name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f05936;
  width: 159px;
}
.classes__title {
  font-size: 24px;
  line-height: 16px;
}
.classes__body {
  margin: 16px 0;
  display: flex;
  align-items: center;
  margin-left: 14px;
  padding-left: 14px;
  border-left: 1px solid #58585d;
}
.classes__item.active::after {
  content: "-";
}
.classes__schedules {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.classes__schedule {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 108px;
  border-bottom: 1px solid #3f3f3f;
}
.classes__schedule-group {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 24px;
  line-height: 16px;
}
.classes__schedule-group p {
  font-size: 24px;
  line-height: 16px;
}

/*----lyceum Screen 1 tab 1 End-------*/

/*----lyceum Screen 1 tab 2 Start-------*/
.education {
}
.education__header {
  height: 60px;
  background: #2e2e2e;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.education__header-title {
  width: 150px;
  flex-grow: 2;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 16px;
}
.education__header-title:nth-child(1) {
  flex-grow: 10;
}
.education__header-title:nth-child(2) {
  flex-grow: 10;
}
.education__header-title:nth-child(3) {
  width: 100px;
  flex-grow: 1;
}
.education__society {
  height: 132px;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  padding: 18px 24px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.education__society-item {
  width: 150px;
  flex-grow: 2;
  font-size: 18px;
  line-height: 24px;
}
.education__society-item:nth-child(1) {
  flex-grow: 10;
}
.education__society-item:nth-child(2) {
  flex-grow: 10;
}
.education__society-item:nth-child(3) {
  width: 100px;
  flex-grow: 1;
}
.education__society-item:nth-child(5) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.education__chart {
  display: flex;
  font-size: 18px;
  line-height: 24px;
}
.education__chart-day {
  color: #6aa9f2;
  margin-right: 19px;
}
.education__chart-time {
  color: rgba(255, 255, 255, 0.87);
}
/*----lyceum Screen 1 tab 2 End-------*/

/*----lyceum Screen 1 tab 3 Start-------*/

.teacher {
  height: 108px;
  background: #2e2e2e;
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-bottom: 20px;
}
.teacher__logo {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #58585d;
}
.teacher__logo-img {
  width: 80px;
  height: 76px;
}
.teacher__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 16px;
}
.teacher__body-name {
  font-size: 24px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 12px;
}
.teacher__body-profession {
  font-size: 18px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.4);
}

/*----lyceum Screen 1 End-------*/

/*----News Details Start-------*/

.news_swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.news_slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.news_wrapper {
  width: 492px;
  padding-top: 48px;
}
.news_slide h2 {
  margin-top: 60px;
  font-size: 30px;
  line-height: 130%;
}
.news_slide p {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 150%;
}
.news__pagination-block {
  position: absolute;
  top: 425px;
  left: 50px;
  height: 130px;
  width: 175px;
}
.news__pagination-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.news__buttons-contsainer {
  height: 42px;
  width: 100%;
  position: relative;
}
.news__button {
  top: auto !important;
  bottom: 0 !important;
  width: 55px !important;
  height: 42px !important;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.news__button::after {
  display: none;
}
.news__button:first-child {
  left: 0 !important;
  z-index: 99;
}
.news__button:last-child {
  right: 0 !important;
}
.news__button:last-child img {
  transform: rotate(180deg);
}
.news__pagination {
  bottom: 5px !important;
}
.news__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 99;
}
.news__close-button img {
  margin-right: 13px;
}
.news__line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
/*----News Details End-------*/

/*----Lesson Shedule Start-------*/

.lesson__wrapper {
  padding: 34px 32px;
}
.lesson__title {
  font-size: 160px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 200px;
}
.lesson__back {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.lesson__back-icon {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.lessons__header {
  margin-top: 24px;
  height: 60px;
  background: #2e2e2e;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.lessons__header-title {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  width: 20%;
}
.lessons__header-title:nth-child(4) {
  width: 40%;
}
.lessons__body {
  height: 60px;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.lessons__body-item {
  font-size: 18px;
  line-height: 24px;
  width: 20%;
  color: rgba(255, 255, 255, 0.87);
}
.lessons__body-item:nth-child(4) {
  width: 40%;
}
/*----Lesson Shedule End-------*/

/*----Teacher Details Start-------*/

.teacher_slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.teacher_wrapper {
  width: 754px;
  padding-top: 48px;
  padding-right: 32px;
}
.teacher__person {
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}
.teacher__avatar-img {
  width: 176px;
  height: 176px;
  margin-right: 32px;
}
.teacher__logo-text {
  width: 70%;
}
.teacher__logo-name {
  font-size: 26px;
  line-height: 137%;
}
.teacher__logo-profession {
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.4);
}
.teacher__experience {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
.teacher__experience-max {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.teacher__progress {
  width: 100%;
  height: 24px;
  background: rgba(255, 255, 255, 0.87);
  margin-bottom: 66px;
}
.teacher__bar {
  width: 1%;
  height: 24px;
  background: #0ab77f;
}
.teacher__lesson {
  height: 56px;
  display: flex;
  align-items: center;
  border-top: 1px solid #58585d;
  border-bottom: 1px solid #58585d;
  margin-top: 26px;
  margin-bottom: 58px;
}
.teacher__lesson-text {
  margin-left: 19px;
}
.teacher__qualification {
  border-top: 1px solid #58585d;
  border-bottom: 1px solid #58585d;
  padding: 15px 0;
  margin-top: 26px;
}
.teacher__qualification-block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.teacher__lesson-time {
  font-size: 18px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.4);
}
.teacher__subtitle {
  text-transform: uppercase;
}
/*----Teacher Details End-------*/

/*----Lyceum Form Start-------*/

.lyceum__form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lyceum__form {
  width: 424px;
  display: flex;
  flex-direction: column;
}
.lyceum__form-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 12px;
}
.lyceum__form-input {
  height: 46px;
  background-color: transparent;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 55px;
  font-size: 18px;
  line-height: 16px;
  color: white;
}
.lyceum__form-button {
  height: 46px;
  background: #308bf4;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.87);
}
.lyceum__success-block {
  width: 323px;
  height: 120px;
  border: 1px solid #308bf4;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lyceum__success-block p {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  color: #308bf4;
}
/*----Lyceum Form End-------*/
